<html lang="en">
<head>
    <title>Home page title</title>
</head>
<body>

<h1>Category List</h1>

<div th:if="${cats == null || cats.size() == 0}">
    <p>There is no category in system</p>
</div>
<div th:if="${cats != null && cats.size() > 0}">
    <table>
        <tr th:each="category: ${cats}">
            <td th:text="${category.id}"/>
            <td th:text="${category.title}"/>
        </tr>
    </table>
</div>

<div id="js"></div>

</body>
</html>
<script>
    document.getElementById('js').innerText = 'This is by script tag';
</script>

